* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --deep-dark: rgb(26, 26, 26);
    --light-dark: rgb(79, 82, 92);
    --light-blue: rgb(0, 132, 255);
    --light-green: rgb(38, 175, 38);
    --light-red: rgb(230, 88, 63);
    --light: rgb(245, 245, 245);
}

body {
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Hind Guntur', sans-serif;
    background: var(--deep-dark);
}

h1 {
    font-size: 2.6rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    color: var(--light);
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    color: var(--light-green);
}


.todoInput {
    padding: .2em .4em;
    width: 450px;
    height: 30px;
    background-color: var(--light);
    border: none;
    border-radius: 25px;
    outline: none;
}

.addBtn {
    margin: .5rem;
    padding: .5rem;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: var(--light-green);
    color: var(--light);
    cursor: pointer;
}

.addBtn:hover {
    opacity: .7;
}

.todoList {
    margin-top: 1rem;
}

.todoList h3 {
    color: var(--light);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.alertInfo {
    margin-top: .25rem;
    font-size: 1.4rem;
    color: var(--light);
    color: var(--light-green);
}

.item {
    padding: .25rem .5rem;
    margin-bottom: 1rem;
    /* background: var(--light-dark); */
    border-bottom: 4px solid var(--light);
}

.item_input {
    width: 300px;
    outline: none;
    border: none;
    font-size: 1.6rem;
    color: var(--light);
    background: none;
}

.item button {
    padding: .25rem .5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s;
}

.item button:hover {
    color: var(--light);
}

.complete {
    color: var(--light-blue);
}

.edit {
    font-weight: bold;
    color: var(--light-green);
}

.delete {
    color: var(--light-red);
}

.completed {
    font-size: 1.6rem;
    color: var(--light-dark);
    text-decoration: line-through;
    font-style: italic;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.2rem;
        margin-top: 1.5rem;
        margin-bottom: .25rem;
    }

    .todoInput {
        width: 230px;
    }

    .item_input {
        width: 115px;
        font-size: 1.1rem;
    }

    .completed {
        font-size: 1rem;
    }
}